.App {
  max-width: var(--app-max-width);
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.primaryButton {
  margin-top: 15px;
  background: var(--app-primary-blueblack);
  border: 1px solid transparent;
  border-radius: .75rem;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1.5rem;
  padding: .75rem 1.2rem;
  text-align: center;
  touch-action: manipulation;
  width: auto;
  float: right;
}

.primaryButton:hover {
  background: var(--app-gray);
}

.primaryButton:disabled {
  background: var(--disabled-gray);
}

@media (max-width: 800px),(max-height: 700px) {
  .primaryButton {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 1rem;
  }
}

.fullViewPort {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ErrorMessage {
  color: var(--error-red);
  display: none;
  margin-top: 10px;
}